.song{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60vh;
    .song__cover{
        max-width: 20%;
    }
    img{
        border-radius: 50%;
        width: 100%;
        
    }
    .song__title{
        font-weight: bold;
        font-size: 1.8rem;
    }
    .song__artist{
        font-weight: 500;
        font-size: 1rem;
    }
}